.fabric
.replay_cache
.bobby
realms_persistence.json
usercache.json
options.txt
rhino.local.properties

logs
local
replay_recordings
crash-reports
dashloader-cache

saves
screenshots
chesttracker
XaeroWaypoints
XaeroWorldMap